<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>CFDSA</title>
</head>

<body>
<main>
    <div>
        <p><img alt="" src="https://picsum.photos/200/300" style="width: 200px; height: 300px;" /></p>
        <h2>
            <p>Repo: <a href="https://github.com/Yeoenghuat/cfdsa-precourse">https://github.com/Yeoenghuat/cfdsa-precourse</a></p>

            <p th:text="${message}"></p>
        </h2>
    </div>
</main>
<!-- /.container -->
</body>
</html>